.container
{
    border: 1px solid black;
    background-color: blueviolet;
    max-height: 100px;
    overflow: auto;
    margin: 25px;
    
}

#box2{
    border: 5px solid black;
    min-height: 200px;
    /* overflow: flow; */
    /* if the content is smller than that of box size then it will behave like the visible mode if more then it will behave like the scroll  */
}